V2:

download data
ERX logo to Aushman logo
connecting to printer
Able to duplicate prescription
Replace routine with schedule
Remove "head" word from oral head
Receptionist should be able to assign patients to Dr
Add column for patient findings

fields should follow this order :
1. complaint
2. diagnosis
3. findings

auto save prescription
Date format to be in DD/MM/YYYY format
add a column for prescription days


1. ERX logo to Ayushman logo
2. Connecting to printer
3. Replace routine word with schedule ===============> done
4. Remove "head" from the "oral head" ===============> done
5. Add column for patient findings    ===============> done
6. Fields should follow this order :  ===============> done
    1. complaint
    2. diagnosis
    3. findings
7. Date format to be in DD/MM/YYYY    ===============> to be done
8. Add a column for duration          ===============> done
14. Remove anytime option for routine ===============> done
15. Add followup and suggestion in pdf ==============> done
17. Change background image to Ayushman background ==> done ( thought to keep same )
18. Change logo to Ayushman           ===============> done
===================================================================
9. Auto save prescriptions
10. Download as PDF                   ===============> done
11. Able to duplicate prescriptions =================> to be done
12. Receptionist be able to assign patients to Dr ===> to be done
13. PDF generation api integration ==================> done
16. Search patients by name, phone number   =========> done







analytics
module 2 : SMS