:root {
  --green: #27ae60;
  --black: #444;
  --light-color: #777;
  --bg-color: #e6e6e6;
  --border: .1rem solid rgba(0,0,0,.1);
  --box-shadow: .4rem .4rem 1rem #ccc, -.4rem -.4rem 1rem #fff;
  --box-shadow-inset: .4rem .4rem 1rem #ccc inset, -.4rem -.4rem 1rem #fff inset;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #f8f9fa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.card {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-body {
  width: max-content;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 16px;
}
.form-group input {
  padding: 10px;
  width: 400px;
  border: none;
  border-radius: 10px;
}

.btn {
  margin: 4px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.primary {
  color: var(--green);
}