

.navbar-container {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
}

.logo-container h2 {
    display: flex;
    justify-content: space-between;
    font-size: 44px;
    margin: 0;
}

.navbar-elements-container {
    display: flex;
    gap: 10px;
    font-size: 20px;
}