

.navbar-container {
    display: flex;
    margin: 1vh 1vw;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

.logo-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo-container h2 {
    display: flex;
    justify-content: space-between;
    font-size: 44px;
    margin: 0;
    cursor: pointer;
}

.logo-container img {
    height: 100%;
}

.navbar-elements-container {
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.navbar-element {
    padding: 10px;
    color: #000;
    background-color: #f2f4f7;
    border-radius: 10px;
    box-shadow: 4px;
}