.patient-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10vh;
}

.patient-details-section {
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    max-width: 95vw;
}

.patient-detail-container {
    /* color: red; */
    display: flex;
    flex-direction: column;
    max-width: 50vw;
}

.patient-detail-container input {
    padding: 10px;
    margin: 4px;
    border-radius: 10px;
    font-size: 20px;
    /* border: 1px solid black; */
    border: none;
    background-color: #f2f4f7;
}

.patient-detail-container input:focus {
    outline: none;
}

.patientAppointmentDate-container, .patientAppointmentDetails-container {
    width: 20vw;
}

.patient-appointment-date-and-submit-container {
    display: flex;
    justify-content: space-between;
}


.patientAppointmentDetails-container textarea:focus {
    outline: none;
}

.patientAppointmentDetails-container textarea {
    width: 90%;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    background-color: #f2f4f7;
    padding: 10px;
    margin: 4px;
}


.patient-details-submit {
    display: flex;
    justify-content: space-between;
}

.patient-details-submit button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
    border: none;
}

.patient-details-section label {
    font-size: 1.6rem;
    color: var(--black);
}

.patient-details-section h2 {
    margin: 10px 0;
}

.prescription-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.prescription-detail-container, .prescription-delete-container {
    display: flex;
    flex-direction: column;
    margin: 4px 18px;
}
.prescription-detail-container input {
    font-size: 18px;
}

.prescription-detail-container select {
    font-size: 22px;
}
.prescription-detail-container .prescription-list-container {
    display: flex;
    flex-direction: column;
}

.add-new-prescription {
    margin-top: 20px;
    padding: 10px 18px;
    color: var(--black);
    background-color: #f2f4f7;
    border-radius: 50px;
    font-size: 22px;
    float: right;
}

.space {
    clear: both;
    display: block;
    width: 40vw;
    height: 130px;
}

.prescription-delete-container {
    font-size: 25px;
    align-items: center;
    cursor: pointer;
}

.prescription-detail-container input, .prescription-detail-container select {
    border: none;
    padding: 4px;
    border-radius: 5px;
    background-color: #f2f4f7;
    font-size: 25px;
    margin: 4px 0px;
}

.intakeRoutineContainer {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin: 4px;
    gap: 8px;
}

.intakeRoutineContainer span {
    padding: 5px 10px ;
    /* border: 1px solid gray; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.inactive-intakeRoutine {
    background-color: var(--bg-color);
}

.active-intakeRoutine {
    background-color: var(--green);
    color: white;
}

.two-col {
    display: flex;
}

.two-col input {
    max-width: 80%;
    min-width: 50%;
}

.gender-dropdown {
    margin: 4px;
    font-size: 2rem;
    padding: 4px 10px;
    border-radius: 10px;
}

.dosage, .duration {
    max-width: 80px;
}

.type {
    max-width: 150px;
}

.bp-temparature {
    display: flex;
    gap: 4px;
}

.bp-temparature input {
    width: 130px;
}

.last-page {
    display: flex;
    flex-direction: column;
    min-width: 75vw;
}

.follow-up-container, .advises-container {
    display: flex;
    flex-direction: column;
}

.last-page textarea {
    font-size: 2rem;
    margin: 4px;
    border-radius: 8px;
    padding: 8px;
    background-color: #f2f4f7;
    border: none;
}

.heading-container > span {
    font-size: 1.5rem;
    margin: 4px;
}

.heading-container .page-change {
    color: blue;
    text-decoration: underline;
}


@media only screen and (max-width: 600px) {
    .patient-detail-container {
        width: 100vw;
    }
  }
